# Core
numpy
pandas
pyarrow
scikit-learn
umap-learn
hdbscan
faiss-cpu

# Embeddings
sentence-transformers

# SOM
MiniSom

# Ingestion
requests
beautifulsoup4
lxml

# App
streamlit
plotly
pydeck

# Utils
tqdm
pyyaml
